{% extends "base_generic.html" %}

{% block content %}
 
 <div style="width:800px; margin:0 auto;">
  <h1>Welcome to the BobCard</h1>

  <p>Request Access to a Building/Room</p>

   <form action="code/" method="POST">
       {% csrf_token %}
       <input type="text" placeholder="NetID" name="id">
       <select>
           <option value="kimmel">Kimmel</option>
           <option value="silver">Silver</option>
           <option value="stern">Stern</option>
           <option value="bobst">Bobstbae</option>
           <option value="courant">Courant</option>
       </select>
       <select>
           <option value="1hr">1 hour</option>
           <option value="2hr">2 hour</option>
           <option value="5hr">5 hour</option>
           <option value="10hr">10 hour</option>
           <option value="24hr">24 hour</option>
       </select>
       <input type="submit" value="Request Access"/>
   </form>
</div>
   
{% endblock %}